.button {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-red);
    color: var(--clr-white);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(251, 44, 54, 0.5), 0 6px 6px rgba(251, 44, 54, 0.5), 0 0 100px var(--clr-red) ;
    transition: transform 0.3s, box-shadow 0.2s ;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(251, 44, 54, 0.25), 0 10px 10px rgba(251, 44, 54, 0.22), 0 0 120px var(--clr-red) ;
}