.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;

}

.header__menu{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
}

.header__link{
    font-size: var(--size-xs);
    font-weight: 600;
    color: var(--clr-purple500);
    transition: color 0.3s;
}

.header__link:hover {
    color: var(--clr-red);
}

.header__line{
    border: 1px solid var(--clr-purple500);
    padding-top: 1.5rem;
}

.header__sun{
    display: block;
    color: var(--clr-purple500);
    width: var(--size-base);
    height: var(--size-base);
}

.header__resume{
    font-size: var(--size-xs);
}

/*xs*/
/*@media (min-width: 475px) {}*/

/*sm*/
/*@media (min-width: 640px) {}*/

/*md*/
/*@media (min-width: 768px) {}*/

/*Lg*/
/*@media (min-width: 1024px) {}*/

/*xL*/
/*@media (min-width: 1280px) {}*/

/*2xL*/
/*@media (min-width: 1536px) {}*/