@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

:root {
    --clr-white: oklch(0.977 0.014 308.299);
    --clr-purple400: oklch(71.4% 0.203 305.504);
    --clr-purple500: oklch(0.627 0.265 303.9);
    --clr-purple800: oklch(0.438 0.218 303.724);
    --clr-purple950: oklch(0.291 0.149 302.717);
    --clr-red: oklch(0.637 0.237 25.331);
    --clr-blue: oklch(0.511 0.262 276.966);
    --clr-pink: oklch(0.459 0.187 3.815);

    /*color red rgb(251, 44, 54)*/
    /*color blue rgb(79, 57, 246)*/

    /*sizes*/
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    line-height: calc(1em +0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    background-color: var(--clr-purple950);
    color: var(--clr-white);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-red);
    text-decoration: none;
}

strong {
    color: var(--clr-white);
}